<html>
    <head>
       <title> Alex's Blog</title>
    </head>
    <body>    
        <div>
            <h1><a href= "">Alex's Blog</a><h1></h1>
        </div>

        <div>
            <h2><a href = ""> My First Post</a></h2>
           <em><strong>I am learning so much</strong></em>
            <p>Published: 30 December 2020 at 2:00</p>
        </div>

        <div>
            <h2><a href = ""> My Second Post</a></h2>
            <em><strong>This is a wonderful time of the year</em></strong>
            <p>Published: 30 December 2020 at 2:05</p>
        </div>
    </body>
</html>
